<div class="dashboard-style">
  <div>
    <p-tabMenu [model]="items" [activeItem]="items[0]"></p-tabMenu>
  </div>
  <div>
    <p-menu #menu [popup]="true" [model]="itemsL"></p-menu>
    <button type="button" pButton icon="pi pi-list" (click)="menu.toggle($event)"></button>
  </div>
</div>

<div class="flex" >
  <h2>Employees</h2>
  <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-succes p-button-text" title="Add new employee" (click)="showform()" ></button>
</div>

  <table  >
   
      <tr>
          <th>Firstname</th>
          <th>Surname</th>
          <th>Date Of birth</th>
          <th>Email</th>
          <th>Detail</th>
      </tr>
 
      <tr *ngFor="let employes of employe;let i=index">
          <td>{{employes.firstName}}</td>
          <td>{{employes.lastName}}</td>
          <td>{{employes.dob}}</td>
          <td>{{employes.email}}</td>
          
          <td><button type="button" style="border-radius: 50%;"  
            [routerLink]=[i] >Detail</button></td>
        </tr>
   
  </table>


<router-outlet ></router-outlet>