
<body>
    
    
    <nav class="navbar" >
        
    <a class="link li-right" href="#">Dashboard</a>
    <a class="link" href="#">Employe List</a>
    <a class="link" href="#">Logout</a>
  </nav>  
  <hr>
  
  
  
  <div class="dash"  >
    
    <a href="" clas >
      <div class="d"> 
        <h2 class="emp-num" >15</h2>
        <h2 >Employee</h2>
      </div>
    </a>
            <div class="d" >
              <h2 class="alert-num" >3</h2>
              <h2>Alerts</h2>
              
            </div>
            
          </div>


    </body>