<div class="dashboard-style full-border">
  <div>
    <p-tabMenu [model]="items" [activeItem]="items[0]"></p-tabMenu>
  </div>
</div>
<!-- <div>{{count}}</div> -->
<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;">
<div class=" cards">
  <p-card
    [style]="{ width: '300px', height: '190px', margin: '0 20px' }"
    styleClass="shadow-2"
    routerLink="/list"
    title="Click here to show employee list">
    <ng-template pTemplate="header">
      <img
        alt="Card"
        src="../../../assets/employee.png"
        [style]="{ width: '80px', height: '60px' }"/>
      <h1>Employee</h1>
      <h1>{{ count }}</h1>
    </ng-template>
  </p-card>
  <p-card
    [style]="{ width: '300px', height:'190px',margin:'0 50px'}"
    styleClass="shadow-2"
    title="Click here to show Alerts">
    <ng-template pTemplate="header">
      <img
        alt="Card"
        src="../../../assets/louds.png"
        [style]="{ width: '80px', height: '60px'}"/>
      <h1>Alerts</h1>
      <h1>{{ count }}</h1>
    </ng-template>
  </p-card>
</div>
</div>
<!-- <body>
  <nav class="navbar" >  
    <a class="link li-right" >Dashboard</a>
    <a class="link" routerLink="/list" routerLinkActive="active" >Employe List</a>
    <a class="link" (click)="logout()">Logout</a>
  </nav>

  <hr>
  
  <div class="dash">
    <a href="#">
      <div class="d"> 
        <h2 class="emp-num" >15</h2>
        <h2 >Employee</h2>
      </div>
    </a>
    <div class="d">
      <h2 class="alert-num">3</h2>
      <h2>Alerts</h2>
    </div>
  </div>
</body> -->
