<div class="dashboard-style">
  <div>
    <p-tabMenu [model]="items" [activeItem]="items[0]"></p-tabMenu>
  </div>
  <div>
    <p-menu #menu [popup]="true" [model]="itemsL"></p-menu>
    <button
      type="button"
      pButton
      icon="pi pi-list"
      (click)="menu.toggle($event)"
    ></button>
  </div>
</div>

<!-- <div>{{count}}</div> -->
<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  "
>
  <p-card
    header="Employees"
    [style]="{ width: '300px', height: '190px', margin: '0 20px' }"
    styleClass="shadow-2"
    routerLink="/list"
    title="Click here to show employee list"
  >
    <ng-template pTemplate="header">
      <img
        alt="Card"
        src="../../../assets/employee.png"
        [style]="{ width: '80px', height: '60px' }"
      />
    </ng-template>
    <h3>{{ count }}</h3>
  </p-card>
  <p-card
    header="Alerts"
    [style]="{ width: '300px', height: '190px', margin: '0 200px' }"
    styleClass="shadow-2"
    routerLink="/list"
    title="Click here to show the Alerts"
  >
    <ng-template pTemplate="header">
      <img
        alt="Card"
        src="../../../assets/louds.png"
        [style]="{ width: '80px', height: '60px' }"
      />
    </ng-template>
    <h3>{{ count }}</h3>
  </p-card>
</div>

<!-- <body>
  <nav class="navbar" >  
    <a class="link li-right" >Dashboard</a>
    <a class="link" routerLink="/list" routerLinkActive="active" >Employe List</a>
    <a class="link" (click)="logout()">Logout</a>
  </nav>

  <hr>
  
  <div class="dash">
    <a href="#">
      <div class="d"> 
        <h2 class="emp-num" >15</h2>
        <h2 >Employee</h2>
      </div>
    </a>
    <div class="d">
      <h2 class="alert-num">3</h2>
      <h2>Alerts</h2>
    </div>
  </div>
</body> -->
