.bck-img{
    background-image: url(../../../assets/Human-Resources1.1.webp);
    background-repeat: no-repeat;
    background-position: left;
    width: 100%;
    height: 100%;
}

.login-items{
    position: absolute;
    top: 25rem;
    right: 15rem;
    margin: 10px 0px;

    .ui-grid-row {
        margin-bottom: 0.5rem;
    }
}