<!DOCTYPE html>
<html>

<body  class="overlay" >

    <div class="center" >
 
      <h2>Employee Details</h2>
      <table>
        <tr>
           <th>FirstName</th>
           <th>LastName</th>
           <th>B-Day</th>
           <th>Email</th>
        </tr>
        <tr>
            <td>{{employe.firstName}}</td>
            <td>{{employe.lastName}}</td>
            <td>{{employe.dob}}</td>
            <td>{{employe.email}}</td>
    
        </tr>

       </table>

   <button type="button" (click)="onNavigate()" >Close</button>
  </div>
  