<!DOCTYPE html>
<html>
<body  class="overlay" >
    <div class="center" >
      <h2>Employee Details</h2>
      <table>
        <tr>
           <th>FirstName</th>
           <th>LastName</th>
           <th>Date of Birth</th>
           <th>Email</th>
           <th>Phone</th>
        </tr>
        <tr>
            <td>{{employe.firstName}}</td>
            <td>{{employe.lastName}}</td>
            <td>{{employe.dob}}</td>
            <td>{{employe.email}}</td>
            <td>{{employe.phone}}</td>
        </tr>
       </table>
    

       
       <div class="flex">
        <h4>History rows</h4><br>
        <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-success p-button-text" title="Add history row" ></button>
       </div>
       
      <table>
        <tr>
          <td>Category</td>
          <td>Note  </td>
          <td>Alert</td>
          <td>Start</td>
          <td>End</td>
          <td>Repeat</td> 
        </tr>
        <tr>
          <td> Info</td>
          <td>Employee Expiratio<br> Smart Card </td>
          <td>Yes</td>
          <td>2023-03-01</td>
          <td>2023-03-15</td>
          <td>4dd</td>
        </tr>
      </table>
    
      <div class="button-container">
        <button button p class="rounded-outline-blue " (click)="onNavigate()">Close</button>
        <button button p class="rounded-outline-blue " (click)="onEdit()">Edit</button>
        <button p class="rounded-outline-blue "  (click)="onDelete()" >Delete</button>
      </div>
  </div>
</body>