
<div class="overlay" > 

<form [formGroup]="employeeForm"  (ngSubmit)="onSubmit()" >

    <div class="center" >
        <h2>New Employee</h2> 
        <div class="grid-container">
            <div>
              <label for="firstname">FirstName</label>
              <input id="firstname" type="text" formControlName="firstName" class="p-invalid" pInputText />
            </div>
            <div>
              <label for="lastname">LastName</label>
              <input id="lastname" type="text" formControlName="lastName" class="p-invalid" pInputText />
            </div>
            <div>
              <label for="dob">Date of Birth</label>
              <input type="date" id="dob" min="2004-01-01" class="p-invalid" formControlName="dob" pInputText >
            </div>
            <div>
              <label for="email">Email</label>
              <input id="email" type="email"  class="p-invalid" formControlName="email"  pInputText />
            </div>
        </div>
        <button button p class="rounded-outline-blue" (click)="onclose()">Cancel</button>
        <button button p class="rounded-outline-blue " type="submit" [disabled]="!employeeForm.valid">Save</button>
    </div>

</form>

</div>