
<div class="center" >
    <h2>New Employye</h2>


    <div class="p-field">
        <label for="username2">FirstName</label>
        <input id="first" type="firstname"  class="p-invalid" pInputText />

    </div>

    <div class="p-field">
        <label for="username2">LastName</label>
        <input id="username2" type="lastname"  class="p-invalid" pInputText />
       
    </div>
    <div class="p-field">
        <label for="username2">Date of dirth</label>
        <input id="username2" type="dateofbirth"  class="p-invalid" pInputNumber />
       
    </div>
    <div class="p-field">
        <label for="username2">LastName</label>
        <input id="username2" type="lastname"  class="p-invalid" pInputText />
       
    </div>

    <button pButton type="button" label="Close" class="p-button-outlined"  (click)="onclose()" ></button>

    </div>
